@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {
    font-family: 'SBAggro';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SBAggro';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SBAggro';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroBold.ttf') format("truetype");
    font-display: swap;
}

/* 초기화 */
html {overflow-y:scroll; scroll-behavior: smooth; overflow-x: hidden;}
body {margin:0;padding:0;font-size:100%;font-family: 'Noto Sans KR', sans-serif;background:#FDFDF7; position: relative;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family: 'Noto Sans KR', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
li{list-style: none;}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif;;font-size:1em}
input[type="submit"]{cursor:pointer}
button {cursor:pointer}

textarea, select {font-family: 'Noto Sans KR', sans-serif;;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
-webkit-box-shadow:  0 0 5px #9ed4ff;
-moz-box-shadow:  0 0 5px #9ed4ff;
box-shadow: 0 0 5px #9ed4ff;
border: 1px solid #558ab7 !important;
}
.placeholdersjs { color: #aaa !important; }


.sb_light{font-family: 'SBAggro'; font-weight: 300;}
.sb_medium{font-family: 'SBAggro'; font-weight: 500;}
.sb_bold{font-family: 'SBAggro'; font-weight: 700;}
.ff_serif{font-family: 'Noto Serif', serif;}


.inner{max-width: 1200px; margin:0 auto;}

.fc_w{color:#fff}
.fc_b{color:#000;}
.fc_db{color: #273454;}
.fc_blue{color: #4D7BC6;}


#main{width:100%; background:url(../img/main_bg.jpg) no-repeat; background-size: cover; background-position: center;}
.nav{width:100%; padding: 0 30px; display: flex;  justify-content: space-between; align-items: center; height: 80px; 
    font-size: 90%; position:fixed; z-index: 9999; -webkit-transition-duration:0.75s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.75s;
    transition-timing-function:ease;}
.nav.active{background:rgba(0,0,0,0.7);-webkit-transition-duration:0.75s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.75s;
    transition-timing-function:ease;}
.nav .m_menu{display: none;}
.nav .logo{width: 75px;}
.nav .logo img{width:100%;}
.nav .inner{margin:0;}
.nav nav{display: flex; align-items: center;justify-content: flex-end;}
.nav nav li a{color:#fff; padding: 0 30px;}
.menu_r{display: flex; justify-content: center;align-items: center;}
.lang{display: flex;}
.lang a{color: #fff; margin-right: 30px;}
.m_menu_con .menu_bg{width: 100%; height: 100vh; background: rgba(0,0,0,0.5); z-index: 999999;
    position: fixed; top:0; left: 0; cursor: pointer; display: none;}
.m_menu_con .menu_con{width: 60%; height: 100vh; position: absolute; top:0; right: -60%; background:#fff;
z-index: 9999999; padding: 20px 16px;}
.m_menu_con .menu_con ul{margin-top: 30px;}
.m_menu_con .menu_con ul li{padding: 20px 16px; border-bottom: 1px solid #e5e5e5; font-family: 'SBAggro'; 
    font-weight: 500; letter-spacing: 0;}
.main_con{padding: 400px 0 200px 0; color:#fff;}
.main_con h2{font-size: 250%; margin-bottom: 30px; line-height: 3.5rem;}
.main_con p{font-size: 120%;}

#company{width:100%;background:url(../img/company_bg.png) no-repeat right bottom; background-size: 25%;
    background-color: #EAEDF4; text-align: center; padding:100px 0;}
.label{margin-bottom: 5px;}
.title_m{font-weight: 700; font-size: 200%;}
.con{white-space: pre-line; word-break: keep-all;}
#company .title_m{ margin-bottom: 40px;}
#company .con{margin-bottom: 70px; font-size: 120%;}
#company img{width:80px;}

#ceo{width:100%; padding: 160px 0;}
.ceo_flex{width:100%; display: flex;flex-wrap: wrap;}
.ceo_flex > div{width:50%;}
.ceo_pic{width:100%;}
.ceo_pic img{width:90%;}
.ceo_con .title_m{margin-bottom: 50px;}
.ceo_con .con{font-size: 120%; margin-bottom: 50px; line-height: 1.8rem;}
.ceo_name{font-weight: 500; text-align: right;}
.ceo_name span{font-weight: normal; font-size: 120%; margin-left: 5px;}

#history{width:100%; background:url(../img/history_bg.png) no-repeat; background-size: cover; background-position: left; 
    background-attachment: fixed;
    color:#fff; padding: 140px 0;}
.title_l{font-size: 300%;}
#history .title_l{margin-bottom: 100px;}
.his_100{display: flex; width:100%;flex-wrap: wrap;}
.his_50{width:50%;}
.his_li{width:100%; display: flex; align-items: center; margin-bottom: 50px; font-size: 120%;}
.his_li .year{ background:url(../img/circle.png) no-repeat center; color:#273454; font-family: 'SBAggro'; font-weight: 500;
    border-radius: 50%; margin-right: 20px; width: 80px; height: 80px; text-align: center; padding: 30px 0;}
.his_li .his_con p span{font-weight: bold; margin-right: 5px;}


#factory{width:100%; padding: 110px 0; text-align: center;}
#factory .title_l{margin-bottom: 50px;}
.fac_ul{width:100%; display: flex; margin-bottom: 30px;flex-wrap: wrap;}
.fac_ul li{padding: 25px 0; width: calc(25% - 10px); margin:0 5px; background:#f6f6f8; border-radius: 20px; cursor: pointer;transition: ease-in-out 0.3s;}
.fac_ul li:hover{box-shadow: 0px 0px 15px 5px #eeeeee; transition: ease-in-out 0.3s;}
.fac_ul li.on{background: #273454; color:#fff; font-weight: 500;}
.fac_con{max-width:1200px; overflow: hidden; margin-bottom: 50px;}
.swiper-slide .tab_img{height:300px; overflow: hidden; margin-bottom: 10px;}
.swiper-slide .tab_img img{width:100%;}
.swiper-slide .tab_sub{width:100%; text-align: left;}
.swiper-slide .tab_sub h6{font-size: 1rem; margin-bottom: 5px;}
.swiper-pagination{/*display: none;*/}
.product_btn{display: flex; justify-content: center;}
.product_btn button{margin: 0 5px; padding: 10px 20px; border-radius: 30px; border: 1px solid #e5e5e5; background:#fff;transition: ease-in-out 0.3s;}
.product_btn button:hover{background:#000; color:#fff; transition: ease-in-out 0.3s;}


#vision{background:#f6f6f8; padding: 120px 0; text-align: center;}
#vision .title_m{margin-bottom: 70px;}
#vision .title_m img{margin: 0 5px 15px 5px;}
.vision_box{width:100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.vb{width:32%; text-align: center; padding: 40px 30px; border-radius: 20px; 
    background:#fff; box-shadow: 0px 0px 20px 10px #eeeeee; cursor:default}
.vb_en{font-size: 80%;font-family: 'SBAggro'; font-weight: 300; color:#777;}
.vb_tit{font-weight: 600; margin-bottom: 20px; font-size: 120%; }
.vb_con{white-space: pre-line; word-break: keep-all;}


#contact{width:100%; display: flex; flex-wrap: wrap;}
#contact > div{width:50%; text-align: center;}
.contact_form{background:url(../img/contact_bg.png) no-repeat; background-size: cover; 
    color:#fff; padding: 80px 150px;}
.contact_form .title_l{font-size:200%; margin-bottom: 50px;}
.form_box input{width:100%; padding: 10px 16px; border:1px solid #e5e5e5; border-radius: 5px; margin-bottom: 10px;}
.form_box textarea{width:100%; resize: none;padding: 10px 16px; border:1px solid #e5e5e5; border-radius: 5px; margin-bottom: 50px;}
.form_box .btn-send{padding: 10px 30px; border:1px solid #fff; color:#fff; border-radius: 0; background:transparent; margin-bottom: 10px;}
.form_box .btn-send:hover{background-color: #fff; color:#273454; transition: all ease-in-out 0.2s}
.form_box .thankyou_message{color:#fff; font-size: 90%;}
.location{padding: 80px; background:url(../img/location_bg.png) no-repeat 96% 95%; background-color:#273454;}
.location .title_l{font-size:200%; margin-bottom: 50px;}
.location_map{margin-bottom: 20px;}
.loc_info{text-align: left; color:#fff}
.loc_info p{margin-bottom: 5px;}
.loc_info p img{margin-right: 5px; width:24px;}


footer{width:100%; background:#000; text-align: center; padding: 50px 0;}
footer h1{margin-bottom: 20px;}
footer h1 img{width:75px;}
footer p{white-space: pre-line; color:#fff; font-size: 70%;}


/* modal */
.modal_bg{width: 100%; height: 100vh; background: rgba(0,0,0,0.5); z-index: 99999;
    position: fixed; top:0; left: 0; cursor: pointer; display: none;}
.modal{position: absolute; top: 150px; left: calc(50% - 500px);
width:1000px; height: 850px; background-color: #fff; 
z-index: 999999; padding: 100px; overflow-y: auto;
border-radius: 10px; display: none;
}
.modal .modal_tit{margin-bottom: 10px; font-size: 120%;}
.modal img{max-width:100%;}
#prd01_view, #prd02_view{display: none;}
.btnClose{width:50px; height: 50px; border:none; 
    background: url(../img/ic_close.png) no-repeat center;
    text-indent: -9999px;
    position: absolute;
    top:25px; right: 20px;
}

